.CocaCola {
  margin: 0 80px 180px 80px;
  width: calc(100% - 160px); }
  @media screen and (max-width: 800px) {
    .CocaCola {
      margin: 0 30px 180px 30px;
      width: calc(100% - 60px); } }
  .CocaCola img {
    width: 100%; }
    .CocaCola img.imgMargin {
      display: block;
      margin-bottom: 60px; }
  .CocaCola video.vidMargin {
    display: block;
    margin-bottom: 60px; }
  .CocaCola h2 {
    text-align: center;
    font-size: 26px;
    line-height: 42px;
    font-weight: 300;
    margin: 100px auto;
    max-width: 70%; }
    @media screen and (max-width: 800px) {
      .CocaCola h2 {
        max-width: 90%;
        font-size: 22px;
        line-height: 36px;
        margin: 60px auto 40px; } }
  .CocaCola .infos {
    border-bottom: 1px solid #E1E1E1;
    padding: 0 0 50px 0;
    margin: 60px 0; }
    @media screen and (max-width: 800px) {
      .CocaCola .infos {
        padding: 0 0 30px 0;
        margin: 30px 0; } }
    .CocaCola .infos span {
      color: #000;
      font-weight: 300; }
    .CocaCola .infos p {
      color: #a0a0a0;
      font-weight: 300; }
    .CocaCola .infos .column1 {
      display: inline-block;
      vertical-align: top;
      width: calc(37% - 60px);
      margin-right: 60px; }
      @media screen and (max-width: 800px) {
        .CocaCola .infos .column1 {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px; } }
    .CocaCola .infos .column2 {
      display: inline-block;
      vertical-align: top;
      width: calc(20% - 20px);
      margin-right: 20px; }
      @media screen and (max-width: 800px) {
        .CocaCola .infos .column2 {
          width: calc(60% - 15px);
          margin-right: 15px;
          margin-bottom: 20px; } }
    .CocaCola .infos .column3 {
      display: inline-block;
      vertical-align: top;
      width: calc(15% - 20px);
      margin-right: 20px; }
      @media screen and (max-width: 800px) {
        .CocaCola .infos .column3 {
          width: calc(40% - 15px);
          margin-right: 0;
          margin-left: 15px;
          margin-bottom: 20px; } }
    .CocaCola .infos .column4 {
      display: inline-block;
      vertical-align: top;
      width: 28%; }
      @media screen and (max-width: 800px) {
        .CocaCola .infos .column4 {
          width: 100%; } }
  .CocaCola .shapes {
    margin-bottom: 60px; }
    .CocaCola .shapes .column {
      display: inline-block;
      vertical-align: top;
      width: calc(33.33% - 80px);
      margin: 0 40px;
      text-align: center; }
      @media screen and (max-width: 800px) {
        .CocaCola .shapes .column {
          width: 100%;
          text-align: left;
          margin: 0 0 20px 0; } }
      .CocaCola .shapes .column span {
        color: #000;
        font-weight: 300; }
      .CocaCola .shapes .column p {
        color: #a0a0a0;
        font-weight: 300; }
