.Floom {
  margin: 0 80px 180px 80px;
  width: calc(100% - 160px); }
  @media screen and (max-width: 800px) {
    .Floom {
      margin: 0 30px 180px 30px;
      width: calc(100% - 60px); } }
  .Floom img {
    width: 100%; }
    .Floom img.imgMargin {
      display: block;
      margin-bottom: 60px; }
  .Floom video.vidMargin {
    display: block;
    margin-bottom: 60px; }
  .Floom h2 {
    text-align: center;
    font-size: 26px;
    line-height: 42px;
    font-weight: 300;
    margin: 100px auto;
    max-width: 70%; }
    @media screen and (max-width: 800px) {
      .Floom h2 {
        max-width: 90%;
        font-size: 22px;
        line-height: 36px; } }
  .Floom .infos {
    border-bottom: 1px solid #E1E1E1;
    padding: 0 0 50px 0;
    margin: 60px 0; }
    @media screen and (max-width: 800px) {
      .Floom .infos {
        padding: 0 0 30px 0;
        margin: 30px 0; } }
    .Floom .infos span {
      color: #000;
      font-weight: 300; }
    .Floom .infos p {
      color: #a0a0a0;
      font-weight: 300; }
    .Floom .infos .column1 {
      display: inline-block;
      vertical-align: top;
      width: calc(37% - 60px);
      margin-right: 60px; }
      @media screen and (max-width: 800px) {
        .Floom .infos .column1 {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px; } }
    .Floom .infos .column2 {
      display: inline-block;
      vertical-align: top;
      width: calc(20% - 20px);
      margin-right: 20px; }
      @media screen and (max-width: 800px) {
        .Floom .infos .column2 {
          width: calc(60% - 15px);
          margin-right: 15px;
          margin-bottom: 20px; } }
    .Floom .infos .column3 {
      display: inline-block;
      vertical-align: top;
      width: calc(15% - 20px);
      margin-right: 20px; }
      @media screen and (max-width: 800px) {
        .Floom .infos .column3 {
          width: calc(40% - 15px);
          margin-right: 0;
          margin-left: 15px;
          margin-bottom: 20px; } }
    .Floom .infos .column4 {
      display: inline-block;
      vertical-align: top;
      width: 28%; }
      @media screen and (max-width: 800px) {
        .Floom .infos .column4 {
          width: 100%; } }
  .Floom .videoRight {
    margin-left: 30%; }
  .Floom .imgMarginLeft img {
    width: 60%; }
  .Floom .imgMarginCenter img {
    width: 60%;
    margin-left: 20%; }
  .Floom .imgMarginRight img {
    width: 60%;
    margin-left: 40%; }
