.Home {
  padding: 80px 0 0 80px;
  width: calc(100% - 160px); }
  @media screen and (max-width: 800px) {
    .Home {
      margin: 30px 0 0 30px;
      padding: 0;
      width: calc(100% - 60px); } }
  .Home .portrait {
    position: relative; }
    .Home .portrait .intro {
      position: absolute;
      top: 20%;
      left: 8%; }
      @media screen and (max-width: 800px) {
        .Home .portrait .intro {
          position: static;
          margin-top: 160px;
          margin-bottom: 30px; } }
      .Home .portrait .intro span:nth-child(1) {
        display: block;
        margin-bottom: 60px; }
      .Home .portrait .intro span:nth-child(2) {
        display: block;
        max-width: 360px;
        line-height: 30px; }
    .Home .portrait img {
      width: 100%; }
      .Home .portrait img.portrait-desktop {
        display: block; }
        @media screen and (max-width: 800px) {
          .Home .portrait img.portrait-desktop {
            display: none; } }
      .Home .portrait img.portrait-mobile {
        display: none; }
        @media screen and (max-width: 800px) {
          .Home .portrait img.portrait-mobile {
            display: block; } }
  .Home .masonry {
    margin: 6em 0;
    padding: 0; }
    @media screen and (max-width: 800px) {
      .Home .masonry {
        margin-top: 60px; } }
    .Home .masonry .column1 {
      display: inline-block;
      vertical-align: top;
      width: calc(50% - 40px);
      margin-right: 80px; }
    .Home .masonry .column2 {
      display: inline-block;
      vertical-align: top;
      width: calc(50% - 40px); }
    .Home .masonry .item {
      display: inline-block;
      margin: 0 0 6em;
      width: 100%;
      box-sizing: border-box;
      cursor: default;
      text-decoration: none;
      opacity: 0;
      transform: translateY(60px);
      filter: grayscale(1); }
      .Home .masonry .item.reveal {
        opacity: 1;
        transform: translateY(0);
        filter: grayscale(0);
        transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1); }
      @media screen and (max-width: 800px) {
        .Home .masonry .item {
          margin-bottom: 60px; } }
      .Home .masonry .item img {
        width: 100%;
        cursor: pointer; }
      .Home .masonry .item .title {
        cursor: pointer;
        display: block;
        color: #000;
        margin-top: 15px; }
      .Home .masonry .item .tags {
        cursor: pointer;
        display: inline-block;
        color: #a0a0a0;
        margin-top: 3px; }
