//scrollbar
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
}

//scrollbar
::selection {
    background: yellow;
}